body {
  font-family: "Raleway", sans-serif;
  background-color: #666;
}

.container {
  max-width: 1200px;
}

.box-center {
  margin-top: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallax-window {
  min-height: 1064px;
  background: transparent;
}

.text-white {
  color: #ffffff;
}



.bg-black {
  background-color: #000000;
  opacity: 85%;
}

/* Nav Section */

.logo {
  margin-top: -20px;
}

#nav {
  z-index: 1000;
  transition: all 0.3s ease;
}

#nav.scroll {
  background-color: rgba(0, 0, 0, 0.7);
}

#nav li a {
  font-size: 20px;
  border-bottom-color: transparent;
  transition: all 0.3s ease;
}

#nav li a.current,
#nav li a:hover {
  color: #fd9b36;
}

.navbar {
  position: fixed !important;
}

.navbar-inverse {
  opacity: 85%;
}


.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent !important;
}




/* Hero Section */


.hero-section h1 {
  font-size: 30px;
}

.hero-section p {
  font-size: 20px;
}

.intro-width {
  max-width: 550px;
}


/* Menu Section  */

.menu-section h2 {
  font-size: 28px;
}






/* About section */

.about-section h2 {
  font-size: 28px;
}
.about-section p{
  font-size: 18px;
}

 .btn {
 font-size: 20px !important;
 border-radius: 100px !important;
}
.btn:hover {
  color: #fd9b36 !important;
}

/* Contact section */

.contact-section h2 {
  font-size: 28px;
}

.contact-section p {
  font-size: 18px;
}


.contact-section a:hover {
  color: #fd9b36 !important;
}

.contact-google{
  font-size: 18px;
}




/* Footer section */

.panel-footer {
  background-color: #000000 !important;
  color: #FFFFFF;
}

.panel-footer a {
  color: #FFFFFF !important;
}

.panel-footer .links-box h5 {
  letter-spacing: 2px; 
  color:#fd9b36;
}



@media (min-width: 768px) {
  #nav.scroll .tab-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .md-box {
    width: 615px;
  }
}


@media only screen and (min-width: 1024px)
{  }

@media (min-width: 767px) {
  #nav {
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: #141414;
   opacity: 100% !important;
  

  }

  #nav.scroll {
    background-color: #141414!important
  }

  .sm-screen {
    margin-top: 30px;
  }
  .logo {
    margin-top: -10px;
    margin-bottom: 40px;
  }
  .md-box {
    width: 685px;
  }
  
}

@media (max-width: 639px) {
  .parallax-window {
    min-height: 600px;
  }
  .sm-screen {
    margin-top: 30px;
  }
  #nav {
    width: 100%;
    right: 0;
    border-radius: 5px;
    background-color: #141414;
   opacity: 100% !important;
  

  }

  #nav.scroll {
    background-color: #141414!important
  }

  .logo {
    margin-top: -55px;
    margin-bottom: 40px;
  }
  .md-box {
    width: 323px;
  }

  .small-screen {
    margin-bottom: 300px !important;
  }
  
}

/* .menu-section img{
  padding-left: 35px;
}
.menu-section h3 {
  text-align: center;
}

.menu-section h4{
  text-align: center;
}

.menu-section p{
  text-align: center;
} */


.row-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.rounded-circle {
  border-radius: 50% !important;
}
